<div class="All row align-middle">
  <div class="col s12 m10">
    <a routerLink="/list/">
      <div class="card">
        <div class="card-content white-text">
          <span class="card-make center" style="flex: 1;">View Vehicles</span>
        </div>
        <div class="center">
          <i class="material-icons center" style="font-size: 5rem; color: white">directions_car</i>
        </div>
      </div>
    </a>


<div class="row">
<div class="col s12 m12">
  <a routerLink="/return/">
    <div class="card">
      <div class="card-content white-text">
        <i class="material-icons center" style="font-size: 2rem; color: white;flex: .5;text-align: left;">assignment_returned</i>
        <span class="card-make" style="text-align:right; flex: .5;">Check Availability</span>
      </div>
    </div>
  </a>
  </div>
</div>
</div>

<div class="col s12 m2">

  <a routerLink="/delete/">
    <div class="card delete">
      <div class="card-content white-text">
        <span class="card-make" style="flex: 1;">Delete</span>

      </div>
    </div>
  </a>

  <a routerLink="/reserve/">
    <div class="card reserve">
      <div class="card-content white-text">
        <span class="card-make" style="flex: 1;">Reserve</span>
      </div>
    </div>
  </a>
</div>

</div>
