<div class="modal-header">
  <h4 class="modal-make">Add New Motorbike</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    &times;
  </button>
</div>
<div class="modal-body">

  <form [formGroup]="addNewBikeForm" (ngSubmit)="submitForm()">
  <div class="form-group">
      <label>Number Plate</label>
      <input type="text" formControlName="plateNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.plateNumber.errors }" />
      <div *ngIf="submitted && f.plateNumber.errors" class="invalid-feedback">
          <div *ngIf="f.plateNumber.errors.required">Numberplate is required</div>
      </div>
  </div>
  <div class="form-group">
      <label>Make</label>
      <input type="text" formControlName="make" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.make.errors }" />
      <div *ngIf="submitted && f.make.errors" class="invalid-feedback">
          <div *ngIf="f.make.errors.required">Make is required</div>
      </div>
  </div>
  <div class="form-group">
    <label>Model</label>
    <input type="text" formControlName="model" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.model.errors }" />
    <div *ngIf="submitted && f.model.errors" class="invalid-feedback">
        <div *ngIf="f.model.errors.required">Model is required</div>
    </div>
    </div>
    <div class="form-group">
        <label>No. of Gears</label>
        <input type="number" formControlName="gears" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.producer.errors }" />
        <div *ngIf="submitted && f.producer.errors" class="invalid-feedback">
            <div *ngIf="f.producer.errors.required">No. of Gears is required</div>
        </div>
    </div>
    <div class="form-group">
        <label>ABS</label>
        <input type="text" formControlName="ABS" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.producer.errors }" />
        <div *ngIf="submitted && f.producer.errors" class="invalid-feedback">
            <div *ngIf="f.producer.errors.required">ABS is required</div>
        </div>
    </div>

  <div class="modal-footer">
      <button class="btn btn-success"
        [disabled]="!addNewBikeForm.valid">
        Add
      </button>
    </div>
  </form>

<div class="LoaderBalls">
    <div class="LoaderBalls__item"></div>
    <div class="LoaderBalls__item"></div>
    <div class="LoaderBalls__item"></div>
</div>

<div class="error">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
    <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
    <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
    <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
</svg>
</div>

<div class="check_mark">
<div class="sa-icon sa-success animate">
    <span class="sa-line sa-tip animateSuccessTip"></span>
    <span class="sa-line sa-long animateSuccessLong"></span>
    <div class="sa-placeholder"></div>
    <div class="sa-fix"></div>
</div>
</div>

<div class="alert alert-error">
    <strong>Error!</strong> {{responseMsg}}
</div>
<div class="alert alert-success">
    <strong>Success!</strong> {{responseMsg}}
</div>

</div>

